.field{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.background{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.card-stack{
    position: absolute;
   
    img{
        position: absolute;
        width: 250px;

        @media (max-width:800px) {
            width: 220px;  
        }

        @media (max-width:650px) {
            width: 200px;
            
        }
    };
}

.top-card{
    cursor: pointer;
    transition: all 180ms ease-in-out;

    &:hover{
        transform: scale(1.05) translateY(-20px);
    }
}

.played-card{
    right: 30px;
    transform: scale(1) translateX(280px) translateY(-290px) rotate(-30deg);
 
}
.pick-card{
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1) translateX(280px) translateY(-290px) rotate(-30deg);
}

@keyframes pick-card-animation{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.2);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1) translateX(280px) translateY(-290px) rotate(-30deg);
    }

}

.player-position{
    position: absolute;
    right: 0;
    z-index: 1;
}

.btn-add{
    background-color: orange;
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.scroll-container{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
}

app-player-mobile{
    margin-left: 8px;
    cursor: pointer;

    &:hover{
        filter: brightness(1.15)
    }
}

app-player{
    cursor: pointer;
    &:hover{
        filter: brightness(1.15)
    }
}

.gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black ;
    height: 100vh;

    h1 {
        color: white;
        font-size: 160px;
        animation: ease-in-out, pulsate 1.5s infinite alternate;

        @media(max-width:1000px){
            font-size: 100px;
        }

        @media(max-width:620px){
            font-size: 80px;
        }

        @media(max-width:490px){
            font-size: 50px;
        }
    }

}


@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 4px #ff7800,
            0 0 11px #ff7800,
            0 0 19px #0044ff,
            0 0 40px #0044ff,
            0 0 80px #0044ff,
            0 0 90px #0044ff,
            0 0 100px #0044ff,
            0 0 150px #0044ff;
    }
}


.preloadImageForSmartphone{
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: -99999;
}