<app-player *ngFor="let player of game.players; let i= index;" [name]='player' [ngStyle]="{'top.px': 100 +(i * 140)}"
    class="player-position"></app-player>

<div class="field">
    <img class="background" src="/assets/img/background.jpg" alt="">

    <div class="card-stack">

        <!-- Cardstack-->
        <img [ngStyle]="{'right.px' : i * 5}" *ngFor="let card of [1,2,3,4,5] let i = index;"
            src="/assets/img/cover.png" alt="">
        <img (click)="takeCard()" class="top-card" style="right: 30px" src="/assets/img/cover.png">

        <!-- Stack for played cards-->
        <img *ngFor="let card of game.playedCards" class="played-card" src="{{card}}" alt="">

        <!-- Current card (Animation)-->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 30px" src="{{currentCard}}">

    </div>

</div>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>